aiohttp==3.4.4
async-timeout==3.0.0
attrs==18.2.0
beautifulsoup4==4.6.3
bs4==0.0.1
certifi==2018.8.24
chardet==3.0.4
cycler==0.10.0
idna==2.7
kiwisolver==1.0.1
matplotlib==3.0.0
multidict==4.4.2
numpy==1.15.2
pyparsing==2.2.1
python-dateutil==2.7.3
requests==2.19.1
six==1.11.0
telepot==12.7
urllib3==1.23
yarl==1.2.6
